<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED controller</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Led controller</h1>
    <br> <h1>{{quote}}</h1>
    <form action="#" method="post">
        <input type="color" id="wheel" name="nm"/><label for="wheel">Pick your color</label>
        <input type="submit" value="change!"/>
    </form>

    <div class="dropdown">
        <button class="dropbtn">Kies je effect!</button>
        <div class="dropdown-content">
        <form action="#" method="POST">
            <input type="submit" name="fill" value="fill"/>
            <input type="submit" name="slide" value="slide"/>
        </form>
        </div>
      </div>
</body>
</html>